@media(min-width:1600px) {
    .container {
        max-width: 1544px;
    }
}

body {
    font-family: 'DegularText';
    font-size: 16px;
    line-height: 140%;

    &.hidden {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

h1 {
    font-size: 68px;
    font-family: 'DegularDisplay';
    font-weight: 400;
    line-height: 74px;
    line-height: 110%;
}

h2 {
    font-size: 51px;
    line-height: 110%;
    font-family: 'DegularDisplay';
    font-weight: 400;
}

h3 {
    font-size: 38px;
    font-weight: 400;
    font-family: 'DegularDisplay';
    line-height: 130%;
}

h4 {
    font-size: 29px;
    line-height: 130%;
    font-weight: 500;
    font-family: 'Degular';
}

.bluebtn {
    display: inline-flex;
    align-items: center;
    padding: 8px 28px 5px;
    border-radius: 32px;
    background: #0E4271;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-family: 'DegularText';
    transition: 0.3s;
    min-height: 48px;
    text-align: center;

    svg {
        vertical-align: middle;
        margin-top: -4px;
        transition: 0.3s;

        path {
            transition: 0.3s;
            stroke: #fff;
        }
    }

    &:hover {
        color: #0E4271;
        background: #fff;

        svg {
            transform: translateX(5px);

            path {
                stroke: #0E4271;
            }
        }
    }
}

.transparentbtn,
.whitebtn {
    display: inline-flex;
    align-items: center;
    padding: 8px 28px 5px;
    border-radius: 32px;
    border: 1px solid #0E4271;
    background: transparent;
    text-transform: uppercase;
    color: #0E4271;
    font-size: 14px;
    font-family: 'DegularText';
    transition: 0.3s;
    min-height: 48px;
    text-align: center;

    svg {
        vertical-align: middle;
        margin-top: -4px;
        transition: 0.3s;

        path {
            transition: 0.3s;
            stroke: #0E4271;
        }
    }

    &:hover {
        color: #fff;
        background: #0E4271;

        svg {
            transform: translateX(5px);

            path {
                stroke: #fff;
            }
        }
    }
}

.whitebtn {
    background: #fff;
    border: 1px solid #fff;
}

img {
    max-width: 100%;
}

.bg-lightblue {
    background: #E2F0F9;
}

.bg-babyblue {
    background: #C7E3F8;
}

.bg-mainblue {
    background: #0E4271;
}

@media(max-width:1599.8px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 46px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 24px;
    }
}

@media(max-width:1399.8px) {
    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 21px;
    }
}

@media(max-width:991.8px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 38px;
    }
}

@media(max-width:767.8px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 25px;
    }


    .transparentbtn,
    .whitebtn {
        padding: 6px 20px 3px;
        min-height: 42px;
    }
}