.heroslider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .imgwrapper {
        position: relative;
        width: 100%;
        height: calc(100vh - 136px);
        overflow: hidden;
        min-height: 520px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
        }
    }
}

.herosection {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100vh - 136px);
    min-height: 520px;
}

.herosection__info {
    z-index: 2;
    position: relative;
    width: 100%;

    &.white-color {

        h1,
        h4,
        p {
            color: #fff;
        }
    }

    h1 {
        margin-bottom: 32px;
        color: #0E4271;
        max-width: 634px;
        transition: 0.5s;
    }

    h4 {
        color: #0E4271;
        max-width: 634px;
        margin-bottom: 32px;
        transition: 0.5s;
    }

    p {
        margin-bottom: 32px;
        color: #0E4271;
        font-size: 21px;
        font-weight: 500;
        font-family: 'DegularText';
        max-width: 634px;
        transition: 0.5s;

    }

    .subtitle {}
}

.infpic {
    padding: 100px 0;

    .imgswrap {
        position: relative;

        img {
            border-radius: 10px;
        }

        &.imgswrap__center {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                &:nth-child(1) {}

                &:nth-child(2) {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .mainimg {
            max-width: 490px;
        }

        .subimg {
            max-width: 369px;
        }
    }

    h2 {
        color: #0E4271;
        margin-bottom: 28px;
    }

    p {
        color: #262626;
        line-height: 140%;
    }
}

.infsteps {
    padding: 100px 0;

    h2 {
        color: #0E4271;
        margin-bottom: 72px;
    }

    .bottom-sectbtn {
        margin-top: 80px;
    }
}

.infsteps__col {
    flex: 0 0 auto;
    width: 30%;
}

.infsteps__box {
    .imgwrap {
        height: 243px;
        margin-bottom: 24px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 10px;
            vertical-align: top;
        }
    }

    .descrwrap {
        .step {
            margin-bottom: 12px;
            font-size: 20px;
            font-weight: 500;

        }

        h4 {
            color: #0E4271;
            margin-bottom: 12px;
        }

        p {
            color: #0E4271;
            line-height: 140%;
            margin: 0;

            a {
                color: #0E4271;
                text-decoration: underline;
                text-underline-offset: 3px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.whychoose {
    padding: 100px 0;

    h2 {
        margin-bottom: 72px;
        color: #0E4271;
    }

    .col {
        &:nth-child(1) {
            .whychoose__box {
                padding-left: 0;
            }
        }

        &:nth-child(5) {
            .whychoose__box {
                padding-right: 0;
                border-right: none;
            }
        }
    }
}

.whychoose__box {
    padding: 0 18px 25px 18px;
    border-right: 1px solid #0E4271;
    height: 100%;

    p {
        margin: 0;
        color: #0E4271;
    }

    h4 {
        color: #0E4271;
        margin-bottom: 12px;
    }

    .icon {
        height: 56px;
        margin-bottom: 16px;

        img {
            max-height: 100%;
        }
    }
}

.familyrun {
    padding: 130px 0 90px;
    background: #0E4271;

    h2 {
        color: #fff;
        margin-bottom: 16px;
    }

    .familyrun__header {
        margin-bottom: 110px;

        p {
            margin: 0;
            color: #fff;
            font-size: 21px;
            font-weight: 500;
            line-height: 130%;
        }
    }

    .descrwrap {
        display: inline-block;
        max-width: calc(100% - 50px);
        text-align: left;

        p {
            color: #fff;
            font-size: 16px;
            line-height: 140%;

            &:nth-child(1) {
                padding-top: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &+img {
                margin-top: 57px;
                display: block;
                width: 100%;
                border-radius: 15px;
            }
        }

        .groupimg {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 37px;

            img {
                border-radius: 10px;

                &:nth-child(1) {
                    width: calc(41% - 14px);
                }

                &:nth-child(2) {
                    width: calc(59% - 14px);
                }
            }
        }
    }
}

.meet-our-therapists {
    padding: 100px 0;

    h3 {
        color: #0E4271;
        margin: 0;
        line-height: 110%;
    }

    .transparentbtn {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.meet-our-therapists__header {
    margin-bottom: 80px;
}

.therapists__box {
    background: #fff;
    padding: 16px;
    border-radius: 10px;
    display: block;
    height: 100%;
    transition: 0.5s;
    transform: scale(1.001);

    .imgwrap {
        height: 258px;
        margin-bottom: 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            border-radius: 5px;
        }
    }

    .descrwrap {

        .name {
            color: #0E4271;
            margin-bottom: 12px;
            line-height: 130%;
            font-size: 21px;
            font-weight: 500;
        }

        .status {
            color: #8D99AF;
            font-weight: 500;
            line-height: 140%;
            position: relative;
            padding-left: 32px;
            margin-bottom: 12px;

            img {
                position: absolute;
                left: 3px;
                top: 50%;
                transform: translateY(-50%);
                margin-top: -1px;
            }
        }

        .position {
            color: #262626;
            margin-bottom: 14px;
            line-height: 140%;
            font-weight: 500;
        }

        .certificate {
            color: #0E4271;
            padding-left: 32px;
            position: relative;
            font-size: 14px;
            line-height: 140%;
            font-weight: 500;
            margin-bottom: 14px;

            img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 24px;
            }
        }

        p {
            color: #262626;
            line-height: 140%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 10px #c0cfdd;
        transform: scale(1.03);
    }
}

.testimonials {
    padding: 100px 0;
}

.testimonials__header {
    margin-bottom: 72px;

    h2 {
        color: #0E4271;
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 0;
        line-height: 130%;
        font-size: 21px;
        font-weight: 500;
    }
}

.testimonial-slwrap {
    background: #fff;
    border-radius: 10px;
    padding: 44px;
    min-height: 294px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: #262626;
        font-size: 21px;
        line-height: 130%;
        font-weight: 500;
    }

    .author {
        color: #0E4271;
        margin: 0;
    }
}

.bottomslider-nav {
    position: relative;
    margin-top: 60px;

    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination {
        position: relative;
        display: inline-block;
        top: initial;
        bottom: initial;
        left: initial;
        right: initial;
        width: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 33px;
        height: 33px;
        border: 1px solid #0E4271;
        border-radius: 50%;
        margin-top: 0;

        &:hover {
            background: #0E4271;

            svg {
                path {
                    fill: #fff;
                }
            }
        }


        svg {
            width: 17px;
            height: 17px;

            path {
                transition: 0.3s;
                fill: #0E4271;
            }
        }

        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        margin-right: 17px;
    }

    .swiper-button-next {
        margin-left: 17px;
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            opacity: 1;
            background: transparent;
            border: 1px solid #0E4271;
            transition: 0.2s;

            &.swiper-pagination-bullet-active {
                width: 16px;
                height: 16px;
                background: #0E4271;
            }
        }
    }

    .transparentbtn {
        min-height: 39px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.mentwellfaq-group {
    padding: 139px 0 130px;
    background: rgba(#8D99AF, 0.2);
}

.infobnr {
    padding: 50px 50px 50px 60px;
    display: flex;
    align-items: center;
    background: #0E4271;
    border-radius: 10px;
    margin-bottom: 47px;

    .infobnr__info {
        width: 100%;
        max-width: 67%;
        flex: 0 0 67%;
        padding-right: 15px;

        h2 {
            color: #fff;
            margin-bottom: 20px;
        }

        p {
            color: #fff;
            font-size: 21px;
            line-height: 130%;
            margin-bottom: 40px;
        }
    }

    .infobnr__imgwrap {
        width: 100%;
        max-width: 33%;
        flex: 0 0 33%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

}

.mentwellfaq-group {
    .faqsection {
        padding: 83px 0 63px;
    }
}


.faqsection {
    h2 {
        text-align: center;
        margin-bottom: 60px;
        color: #0E4271;
    }
}

.faq {
    width: 100%;
    max-width: 876px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.faqrow {
    transition: 0.3s;
}

.faqrow.active {
    background: #C7E3F8;

    &.active {
        .faqrow__header {
            &::after {
                transform: translateY(-50%) rotate(-180deg);
            }
        }
    }
}

.faqrow__header {
    padding: 21px 64px 21px 20px;
    cursor: pointer;
    position: relative;

    &::after {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
        background: url('../img/general/faq-arrow.svg') no-repeat center / 100%;
    }

    p {
        margin: 0;
        font-size: 21px;
        line-height: 130%;
        font-weight: 500;
        color: #0E4271;
    }
}

.faqrow__body {
    padding: 8px 20px 35px 20px;
    display: none;

    p {
        color: #0E4271;
        font-size: 16px;
        line-height: 140%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.infobnr.last {
    margin-top: 67px;
    margin-bottom: 0;
}

.infpic p:last-child {
    margin-bottom: 0;
}

.bottomslider-nav .col-lg-8 {
    display: flex;
    align-items: center;
}

@media(max-width:1599.8px) {
    .familyrun .familyrun__header {
        margin-bottom: 60px;
    }

    .therapists__box {
        padding: 10px 10px 15px 10px;
    }

    .therapists__box .imgwrap {
        height: 210px;
    }

    .therapists__box .descrwrap .name,
    .therapists__box .descrwrap .position,
    .therapists__box .descrwrap .certificate,
    .whychoose__box h4 {
        margin-bottom: 8px;
    }

    .infobnr {
        margin-bottom: 30px;
    }

    .familyrun {
        padding: 100px 0 90px;
    }

    .faqrow__header {
        padding: 17px 64px 17px 20px;
    }

    .testimonial-slwrap p {
        font-size: 18px;
    }


    .infsteps .bottom-sectbtn {
        margin-top: 60px;
    }

    .mentwellfaq-group {
        padding: 100px 0;
    }

    .meet-our-therapists__header,
    .testimonials__header {
        margin-bottom: 60px;
    }

    .therapists__box .descrwrap .name {
        font-size: 20px;
    }

    .herosection__info p,
    .familyrun .familyrun__header p {
        font-size: 18px;
    }

    .herosection__info h1,
    .herosection__info h4 {
        margin-bottom: 20px;
    }

    .herosection,
    .heroslider .imgwrapper {
        height: calc(100vh - 100px);
    }

    .infpic .imgswrap .mainimg {
        max-width: 80%;
    }

    .infpic .imgswrap .subimg {
        max-width: 60%;
    }

}

@media(max-width:1399.8px) {
    .herosection__info p {
        font-size: 16px;
    }

    .infsteps h2 {
        margin-bottom: 60px;
    }

    .infsteps__col {
        width: 32%;
    }


    .infsteps__box .descrwrap .step {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .whychoose__box {
        padding: 0 15px 15px 15px;
    }

    .testimonials__header p {
        font-size: 18px;
    }

}

@media(max-width:1199.8px) {
    .herosection__info h1 {
        max-width: 500px;
    }

    .whychoose__box h4 {
        font-size: 18px;
        line-height: 120%;
    }

    .whychoose__box {
        padding: 0 10px 10px 10px;
    }

    .familyrun .descrwrap p+img {
        margin-top: 30px;
    }

    .meet-our-therapists__body {
        .row {
            margin-left: -5px;
            margin-right: -5px;

            .col-lg {
                padding-right: 5px;
                padding-left: 5px;
            }
        }
    }

    .therapists__box .imgwrap {
        height: 160px;
        margin-bottom: 10px;
    }

    .testimonial-slwrap {
        padding: 30px;
    }

    .testimonial-slwrap {
        min-height: 270px;
    }

    .infobnr.last {
        margin-top: 30px;
    }






    .therapists__box .descrwrap p {
        font-size: 14px;
    }

    .testimonial-slwrap p {
        font-size: 16px;
    }

    .therapists__box .descrwrap .name {
        font-size: 18px;
    }

    .whychoose h2 {
        margin-bottom: 60px;
    }

    .infsteps h2,
    .meet-our-therapists__header,
    .testimonials__header,
    .faqsection h2 {
        margin-bottom: 50px;
    }
}

@media(max-width:991.8px) {
    .heroslider .imgwrapper img {
        background-position: 50% 50%;
    }

    .herosection,
    .heroslider .imgwrapper {
        height: 500px;
    }

    .infsteps__col {
        width: 33.333%;
    }

    .infsteps__box .imgwrap {
        margin-bottom: 12px;
    }

    .infsteps__box .imgwrap {
        height: 200px;
    }

    .infsteps__box .descrwrap .step {
        margin-bottom: 0;
    }

    .whychoose {
        .col {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
        }
    }

    .whychoose__box {
        border: none;
    }

    .whychoose__box {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        .icon {
            width: 100%;
            max-width: 56px;
            flex: 0 0 56px;
        }

        .wrapper {
            width: 100%;
            max-width: calc(100% - 56px);
            flex: 0 0 calc(100% - 56px);
            padding-left: 20px;
        }
    }

    .whychoose__box h4 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .whychoose {
        .col {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .familyrun .descrwrap {
        max-width: 100%;
    }

    .familyrun .descrwrap .groupimg img:first-child {
        width: calc(41% - 5px);
    }

    .familyrun .descrwrap .groupimg img:nth-child(2) {
        width: calc(59% - 5px);
    }

    .meet-our-therapists__body .col-md-4 {
        margin-bottom: 10px;
    }

    .mentwellfaq-group .faqsection {
        padding: 80px 0 60px;
    }

    .infobnr {
        padding: 40px 30px;
    }

    .infobnr .infobnr__info h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .infobnr .infobnr__info p {
        margin-bottom: 15px;
    }

    .infpic .imgswrap .mainimg {
        max-width: 85%;
    }

    .infpic .imgswrap .subimg {
        max-width: 60%;
    }



    .infsteps .bottom-sectbtn {
        margin-top: 40px;
    }

    .herosection__info h4,
    .herosection__info h1,
    .infpic h2 {
        margin-bottom: 15px;
    }

    .faqsection h2,
    .infsteps h2,
    .meet-our-therapists__header,
    .testimonials__header,
    .whychoose h2,
    .familyrun .familyrun__header {
        margin-bottom: 40px;
    }

    .infpic,
    .infsteps,
    .whychoose,
    .familyrun,
    .meet-our-therapists,
    .testimonials,
    .mentwellfaq-group {
        padding: 80px 0;
    }
}

@media(max-width:767.8px) {

    .herosection,
    .heroslider .imgwrapper {
        height: 500px;
        min-height: initial;
    }

    .heroslider .imgwrapper {
        min-height: initial;
        height: 500px;
    }

    .herosection__info h1 {
        max-width: 400px;
        margin-bottom: 10px;
    }

    .herosection__info h4,
    .herosection__info p {
        max-width: 360px;

        br {
            display: none;
        }
    }

    .herosection__info h4 {
        margin-bottom: 10px;
    }

    .herosection__info p {
        margin-bottom: 15px;
    }

    .heroslider .imgwrapper img {
        object-position: 40% 50%;
    }

    .heroslider .imgwrapper {
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(#000, 0.3);
            position: absolute;
        }
    }

    .herosection__info h1,
    .herosection__info h4,
    .herosection__info p {
        color: #fff;
    }

    .infpic {
        .col-md-6 {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }

        .imgswrap {
            margin-top: 20px;
        }
    }

    .familyrun .descrwrap p+img {
        margin-bottom: 10px;
    }

    .meet-our-therapists h3 {
        margin-bottom: 15px;
    }

    .testimonial-slwrap {
        min-height: 230px;
    }

    .infobnr .infobnr__info h2 {
        font-size: 24px;
    }

    .infobnr .infobnr__info p {
        font-size: 17px;
    }

    .infobnr {
        padding: 30px 20px;
    }

    .mentwellfaq-group {
        .infobnr {
            margin-bottom: 0;
        }

        .infobnr.last {
            margin-top: 0;
        }
    }

    .faqrow__header p {
        font-size: 20px;
    }

    .faqrow__body {
        padding-bottom: 15px;
    }

    .infpic .imgswrap .mainimg {
        max-width: 75%;
    }

    .infpic .imgswrap .subimg {
        max-width: 55%;
    }


}

@media(max-width:575.8px) {

    .herosection,
    .heroslider .imgwrapper {
        height: 460px;
    }

    .infsteps .infsteps__col {
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .infsteps__box .descrwrap h4 {
        margin-bottom: 8px;
    }

    .familyrun .descrwrap p+img {
        margin-top: 20px;
    }

    .familyrun .descrwrap .groupimg {
        margin-bottom: 20px;
    }

    .therapists__box .imgwrap {
        height: auto;
    }

    .therapists__box {
        padding: 20px;
    }

    .therapists__box {
        transform: scale(1) !important;
    }

    .bottomslider-nav {
        margin-top: 20px;
    }

    .bottomslider-nav {
        .col-lg-8.col-md-7.col-sm-6 {
            justify-content: center;
            margin-bottom: 20px;
        }
    }

    .infobnr {
        flex-wrap: wrap;
    }

    .infobnr .infobnr__info,
    .infobnr .infobnr__imgwrap {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .infobnr .infobnr__info {
        margin-bottom: 20px;
    }

    .infobnr {
        padding: 15px;
    }

    .mentwellfaq-group .faqsection {
        padding: 60px 0;
    }

    .faqrow__header {
        padding: 15px 55px 15px 15px;
    }

    .faqrow__body {
        padding: 5px 15px 15px 15px;
    }

    .heroslider .imgwrapper img {
        object-position: 50% 50%;
    }







    .familyrun .familyrun__header,
    .faqsection h2,
    .infsteps h2,
    .meet-our-therapists__header,
    .testimonials__header,
    .whychoose h2 {
        margin-bottom: 30px;
    }

    .familyrun,
    .infpic,
    .infsteps,
    .meet-our-therapists,
    .mentwellfaq-group,
    .testimonials,
    .whychoose {
        padding: 60px 0;
    }

    .infobnr .infobnr__info h2 {
        font-size: 28px;
    }

    .whychoose__box h4 {
        font-size: 21px;
    }

    .faqrow__header p {
        font-size: 18px;
    }

    .testimonials__header p {
        font-size: 16px;
    }
}



.consultation-modal {
    .modal-dialog {
        max-width: 1006px;
    }

    .modal-content {
        padding: 40px;
        border: none;
        border-radius: 20px;
    }

    .btn-close {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

@media(max-width:1024.8px) {
    .consultation-modal {
        .modal-dialog {
            max-width: calc(100% - 30px);
        }
    }
}

@media(max-width:575.8px) {
    .consultation-modal {
        .modal-dialog {
            max-width: calc(100%);
        }
    }
}

// 0E4271
















// font-family: 'DegularDisplay';
// font-family: 'DegularText';