.infpic ul.space0 {
    li {
        margin-bottom: 0;
    }
}

.mightnotice.v2 .mightnotice__box.h-v1 {
    min-height: 170px;
}

.fourthboxes .horsteps__box {
    max-width: 365px;
}

.countssection.p110 {
    padding: 110px 0;
}

.faq.showmore {
    .faqrow {
        &:nth-child(n+4) {
            display: none;
        }
    }

    &.active {
        .faqrow {
            &:nth-child(n+4) {
                display: block;
            }
        }
    }
}


@media(max-width:1599.8px) {

    .fourthboxes .horsteps__box {
        max-width: 305px;
    }

    .countssection.p110 {
        padding: 100px 0;
    }
}

@media(max-width:1399.8px) {

    .fourthboxes .horsteps__box {
        max-width: 265px;
    }

    .horsteps__body .fourthboxes.d-flex:after {
        width: calc(100% - 265px);
    }
}

@media(max-width:1199.8px) {

    .fourthboxes .horsteps__box {
        max-width: 225px;
    }

    .horsteps__body .fourthboxes.d-flex:after {
        width: calc(100% - 225px);
    }

    .horsteps.bg-mainblue .horsteps__box p br {
        display: none;
    }
}

@media(max-width:991.8px) {

    .fourthboxes .horsteps__box {
        max-width: 170px;
    }

    .horsteps__body .fourthboxes.d-flex:after {
        width: calc(100% - 170px);
    }

    .countssection.p110 {
        padding: 80px 0;
    }
}


@media(max-width:767.8px) {

    .fourthboxes .horsteps__box {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;

        .num {
            margin-bottom: 5px;
        }
    }

    .horsteps__body .fourthboxes.d-flex:after {
        display: none;
    }
}

@media(max-width:575.8px) {
    .infpic .v4.pb118 {
        padding-bottom: 60px;
    }

    .countssection.p110 {
        padding: 60px 0;
    }
}