.hirearrsect {
    padding: 110px 0;
}

.hirearrsect {
    h3 {
        text-align: center;
        color: #0E4271;
        margin-bottom: 60px;
    }
}

.hirearrwrap {
    display: flex;
    flex-wrap: wrap;
}

.hirearrbox1,
.hirearrbox2,
.hirearrbox3 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0;
        color: #0E4271;
        font-size: 21px;
        font-weight: 500;
        line-height: 130%;
    }
}

.hirearrbox2,
.hirearrbox3 {
    margin-left: -17px;
}

.hirearrbox1 {
    width: 100%;
    height: 197px;
    background: url('../img/hiring/hirearr1.png') no-repeat center / 100% 100%;
    max-width: 37%;
    flex: 0 0 38%;
    padding: 20px 90px 20px 44px;

}

.hirearrbox2 {
    width: 100%;
    height: 197px;
    background: url('../img/hiring/hirearr2.png') no-repeat center / 100% 100%;
    max-width: 37%;
    flex: 0 0 38%;
    padding: 20px 70px 20px 116px;
}

.hirearrbox3 {
    width: 100%;
    height: 197px;
    background: url('../img/hiring/hirearr3.png') no-repeat center / 100% 100%;
    max-width: 28%;
    flex: 0 0 28%;
    justify-content: center;

    p {
        color: #fff;
        text-align: center;
        max-width: 250px;
    }
}

.infosection4 {
    padding: 120px 0;
    position: relative;

    h2 {
        color: #fff;
        margin-bottom: 64px;
    }

    .wraptext {
        padding: 50px 46px;
        background: #C7E3F8;
        border-radius: 10px;

        p {
            margin: 0;
            color: #0E4271;
            font-size: 21px;
            font-weight: 500;
            line-height: 130%;
        }
    }

    .colimg {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 10px 0 0 10px;
        top: 120px;
        height: calc(100% - 240px);
        width: calc(50% - 50px);
        object-fit: cover;
        object-position: 0 0;
    }
}

.description-colwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 75px;

    .description-col {
        width: 100%;
        max-width: calc(50% - 20px);
        flex: 0 0 calc(50% - 20px);

        img {
            height: 48px;
            margin-bottom: 20px;
        }

        p {
            margin: 0;
            color: #fff;
            font-size: 21px;
            font-weight: 500;
            line-height: 130%;
        }
    }
}

.lookfor {
    height: 816px;
    position: relative;
    padding: 97px 0;

    &>img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    h2 {
        color: #fff;
        margin-bottom: 48px;
    }


}

.lookfor__box {
    margin-bottom: 15px;
    margin-right: 20px;
    background: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    min-height: 322px;
    width: 100%;
    max-width: 494px;
    flex: 0 0 494px;
    padding: 40px 48px;

    &:last-child {
        margin-right: 0;
    }

    .bgpic {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: 50% 50%;
    }

    h4 {
        color: #262626;
        margin-bottom: 24px;
        z-index: 1;
        position: relative;
    }

    p {
        font-size: 21px;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 16px;
        padding-left: 32px;
        position: relative;
        z-index: 1;
        color: #0E4271;


        &:last-child {
            margin-bottom: 0;
        }

        &::after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: 5px;
            background: url('../img/hiring/list-arrow.svg') no-repeat center / 100%;
        }

        b {
            font-weight: 400;
            display: block;
            font-size: 16px;
            line-height: 140%;
            margin-top: 16px;
            margin-left: -32px;
        }
    }


}

.includes-section {
    padding: 120px 0 0 0;
    position: relative;

    h3 {
        text-align: center;
        color: #0E4271;
        margin-bottom: 78px;
    }
}

.includes-linesect {
    padding: 92px 0 100px;
    position: relative;

    &::after {
        content: '';
        display: block;
        border-radius: 10px;
        background: #E2F0F9;
        width: 357px;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0;
    }

    .row {
        position: relative;
        z-index: 1;
    }

}

.includesbox {
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }

    .description {
        h4 {
            margin-bottom: 28px;
            color: #0E4271;
        }

        p {
            font-size: 21px;
            font-weight: 500;
            line-height: 130%;
            margin-bottom: 20px;
            color: #0E4271;
            max-width: 385px;
        }

        ul {
            list-style-type: none;
            margin: 0 0 28px 0;
            padding: 0;
            max-width: 380px;

            &:last-child {
                margin-bottom: 0;
            }

            li {
                margin-bottom: 24px;
                position: relative;
                padding-left: 32px;
                color: #0E4271;
                line-height: 140%;
                font-size: 21px;
                line-height: 130%;
                font-weight: 500;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    background: #0E4271;
                    position: absolute;
                    left: 12px;
                    top: 8px;
                }

                &.checkicon {
                    font-size: 16px;
                    line-height: 140%;
                    font-weight: 400;

                    &::after {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background: url('../img/hiring/check.svg') no-repeat center / 100% 100%;
                        position: absolute;
                        left: 0;
                        top: -3px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .imgwrap {
        img {
            vertical-align: top;
            border-radius: 10px;
            width: 100%;
        }
    }
}

.includes-bottomsect {
    margin-top: 60px;
}

.includes-bottomsect__textblock {
    min-height: 254px;
    display: flex;
    align-items: center;
    padding: 30px 42px;

    h4 {
        color: #0E4271;
        margin-bottom: 8px;
    }

    p {
        margin: 0;
        font-size: 21px;
        font-weight: 500;
        line-height: 130%;
        color: #0E4271;
    }


    &.bg-mainblue {

        h4,
        p {
            color: #fff;
        }
    }
}

.includes-bgbird {
    position: absolute;
    right: 0;
    bottom: 23%;
    max-width: 349px;
}

.ourclients-wb {
    padding-top: 150px;
    overflow: hidden;
    position: relative;

    .description {
        padding: 80px 0;

        h2 {
            color: #fff;
            margin-bottom: 40px;
        }

        p {
            margin-bottom: 36px;
            color: #fff;
            font-size: 21px;
            font-weight: 500;
            line-height: 130%;
            max-width: 494px;
        }

        ul {
            max-width: 494px;
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                position: relative;
                padding-left: 32px;
                font-weight: 500;
                line-height: 140%;
                color: #fff;
                margin-bottom: 32px;

                &:last-child {
                    margin-bottom: 0;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: 0;
                    top: 2px;
                    background: url('../img/hiring/listarr.svg') no-repeat center / 100%;
                }
            }

        }
    }

    .bg-mainblue {
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            background: #E2F0F9;
            width: 553px;
            height: 553px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            filter: blur(500px);
        }
    }
}

.ourclients-wb__bgpic {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 60%;
    z-index: 2;
}

.iconboxes-sect {
    padding: 130px 0 110px;
    background: rgba(#8D99AF, 0.2);
}

.section-header {
    margin-bottom: 53px;

    h2 {
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    h4 {
        margin-bottom: 28px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.iconboxes-sect__item {
    background: #fff;
    border-radius: 10px;
    min-height: 190px;
    padding: 40px 50px 30px 50px;
    position: relative;
    margin-bottom: 20px;

    img {
        position: absolute;
        max-height: 100px;
        right: 0;
        bottom: 0;
    }

    h5 {
        margin-bottom: 16px;
        color: #262626;
        font-size: 21px;
        font-weight: 500;
        line-height: 130%;
    }

    p {
        margin: 0;
        color: #262626;
        font-weight: 500;
        max-width: 380px;
    }
}

.teamslove {
    padding: 120px 0;
}

.teamslove__header {
    margin-bottom: 89px;

    h2 {
        color: #0E4271;

        span {
            display: inline-block;
            background: #fff;
            border-radius: 10px;
            padding: 0 10px;
            margin-left: -10px;
        }
    }

    p {
        margin: 0;
        color: #0E4271;
        font-size: 21px;
        font-weight: 500;
        line-height: 130%;
    }
}

.teamslove-slide {
    position: relative;
    padding: 57px 5px 42px 24px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        border-radius: 10px;
        width: 237px;
        height: 100%;
        z-index: 1;
    }
}

.teamslove-slide {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .leftinfo {
        width: 100%;
        max-width: 24%;
        flex: 0 0 24%;
        position: relative;
        z-index: 2;

        p {
            margin-bottom: 20px;
            color: #0E4271;

            &.name {
                font-size: 21px;
                font-weight: 500;
                line-height: 130%;
                margin-bottom: 12px;
            }
        }

        .stars {
            display: flex;
            align-items: center;
            max-width: 100px;
            width: 100%;

            img {
                max-width: 20px;
            }
        }
    }

    .imgwrap {
        width: 100%;
        max-width: 32%;
        flex: 0 0 32%;
        position: relative;
        z-index: 2;
        height: 190px;

        img {
            border-radius: 10px;
        }
    }

    .descr {
        width: 100%;
        max-width: 44%;
        flex: 0 0 44%;
        position: relative;
        z-index: 2;
        padding-left: 20px;

        p {
            margin: 0;
            color: #0E4271;
        }
    }
}

.bottomslider-nav .swiper-button-next,
.bottomslider-nav .swiper-button-prev,
.bottomslider-nav .swiper-pagination {
    vertical-align: middle;
}

.teamslove {
    position: relative;

    .bird {
        position: absolute;
        top: calc(100% - 168px);
        left: 92px;
        max-width: 452px;
    }
}

.reqapply {
    padding: 120px 0;
    position: relative;
    overflow: hidden;

    .lineappl {
        position: absolute;
        left: 0;
        top: -30px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        height: 564px;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .section-header {
        margin-bottom: 10px;
    }

    h2 {
        color: #0E4271;
        margin-bottom: 28px;
    }

    h4 {
        color: #F3776D;
    }
}

.reqapply__itemwrap {
    width: 100%;

    &:nth-child(1) {
        margin-top: 210px;
        max-width: 28%;
        flex: 0 0 28%;
    }

    &:nth-child(2) {
        margin-top: 60px;
        max-width: 30%;
        flex: 0 0 30%;
    }

    &:nth-child(3) {
        margin-top: 240px;
        max-width: 22%;
        flex: 0 0 22%;
    }

    &:nth-child(4) {
        margin-top: 60px;
        max-width: 20%;
        flex: 0 0 20%;
    }
}

.reqapply__item {
    width: 100%;
    max-width: 237px;

    .iconwrap {
        width: 108px;
        height: 104px;
        border-radius: 10px;
        border: 1px solid #8D99AF;
        box-shadow: 2px 2px 40px rgba(#C7E3F8, 0.5);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
        background: #fff;

        img {
            width: 64px;
        }
    }

    p {
        margin: 0;
        color: #0E4271;
        font-weight: 500;
        font-size: 21px;
        line-height: 130%;
    }


}

.rdysect2 {
    padding-bottom: 90px;

    .lpic {
        img {
            vertical-align: top;
            border-radius: 10px;
            border: 1px solid #8D99AF;
        }
    }

    .description {
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 40px 128px;
        height: 100%;

        h2 {
            color: #fff;
            margin-bottom: 28px;
        }

        p {
            color: #fff;
            font-weight: 500;
            font-size: 21px;
            line-height: 130%;
            margin-bottom: 28px;
        }

        a {
            min-width: 153px;
            text-align: center;
            justify-content: center;
            margin-bottom: 40px;
        }

        .smalltext {
            p {
                font-size: 14px;
                font-weight: 500;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.hero-pages.herov2-2 .hero-pages__content h1:last-child {
    margin-bottom: 0;
}

.rdysect2 {
    .lpic {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}







@media(max-width:1599.8px) {
    .reqapply {
        .lineappl {
            position: absolute;
            left: 0;
            top: 65px;
            max-width: inherit;
            height: 470px;
        }
    }

    .reqapply__itemwrap {
        width: 100%;

        &:nth-child(1) {
            margin-top: 210px;
            max-width: 28%;
            flex: 0 0 28%;
        }

        &:nth-child(2) {
            margin-top: 80px;
            max-width: 30%;
            flex: 0 0 30%;
        }

        &:nth-child(3) {
            margin-top: 240px;
            max-width: 22%;
            flex: 0 0 22%;
        }

        &:nth-child(4) {
            margin-top: 70px;
            max-width: 20%;
            flex: 0 0 20%;
        }
    }

    .description-colwrap .description-col img {
        width: 40px;
        margin-bottom: 10px;
    }

    .description-colwrap {
        margin-bottom: 40px;
    }

    .infosection4 .colimg {
        height: calc(100% - 220px);
    }

    .lookfor {
        height: 750px;
    }

    .includes-section {
        padding: 100px 0 0 0;
    }

    .includes-linesect:after {
        width: 300px;
    }

    .includesbox .description ul {
        max-width: 360px;
    }

    .includesbox {
        margin-bottom: 60px;
    }

    .includesbox .description ul li {
        margin-bottom: 16px;
    }

    .ourclients-wb .description ul li {
        margin-bottom: 24px;
    }

    .iconboxes-sect__item h5 {
        margin-bottom: 5px;
    }

    .teamslove__header {
        margin-bottom: 50px;
    }

    .rdysect2 .description h2 {
        font-size: 42px;
    }

    .rdysect2 .description {
        padding: 30px 100px;
    }


    .description-colwrap .description-col p,
    .infosection4 .wraptext p,
    .teamslove-slide .leftinfo p.name {
        font-size: 18px;
    }

    .hirearrsect,
    .infosection4,
    .iconboxes-sect,
    .teamslove,
    .reqapply {
        padding: 100px 0;
    }

    .hirearrsect h3,
    .infosection4 h2,
    .includes-section h3 {
        margin-bottom: 40px;
    }
}

@media(max-width:1399.8px) {

    .hirearrbox3 {
        padding: 20px 20px 20px 40px;
    }

    .hirearrbox1,
    .hirearrbox2,
    .hirearrbox3 {
        height: 170px;
    }

    .infosection4 .wraptext {
        padding: 30px;
    }

    .lookfor__box {
        max-width: calc(50% - 20px);
        flex: 0 0 calc(50% - 20px);
    }

    .includes-linesect {
        padding: 60px 0;
    }

    .includesbox .description ul,
    .includesbox .description p {
        max-width: 310px;
    }

    .includes-bottomsect__textblock {
        min-height: 200px;
    }

    .ourclients-wb {
        padding-top: 100px;
    }

    .iconboxes-sect__item img {
        max-height: 74px;
    }

    .iconboxes-sect__item {
        padding: 30px 40px 30px 30px;
    }

    .teamslove-slide:after {
        width: 200px;
    }

    .teamslove-slide {
        padding: 40px 0px 30px 15px;
    }

    .teamslove-slide .descr p {
        font-size: 15px;
    }

    .teamslove-slide .imgwrap img {
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .teamslove-slide .leftinfo p.name {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .teamslove-slide .leftinfo p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .teamslove-slide .imgwrap {
        height: 150px;
    }

    .teamslove .bird {
        max-width: 350px;
    }

    .reqapply .lineappl {
        height: 400px;
    }

    .rdysect2 .description {
        padding: 30px 40px;
    }

    .rdysect2 .description a {
        margin-bottom: 16px;
    }




    .hirearrsect h3,
    .section-header {
        margin-bottom: 28px;
    }

    .infosection4 h2,
    .includes-section h3,
    .includesbox .description h4,
    .includesbox .description p,
    .includesbox .description ul,
    .ourclients-wb .description h2,
    .ourclients-wb .description p,
    .ourclients-wb .description ul li,
    .section-header h2,
    .rdysect2 .description h2 {
        margin-bottom: 16px;
    }

    .hirearrbox1 p,
    .hirearrbox2 p,
    .hirearrbox3 p,
    .includesbox .description p,
    .includesbox .description ul li,
    .includes-bottomsect__textblock p,
    .ourclients-wb .description p,
    .teamslove__header p,
    .reqapply__item p,
    .rdysect2 .description p {
        font-size: 18px;
    }
}

@media(max-width:1199.8px) {

    .hirearrbox1 {
        padding: 20px 50px 20px 30px;
    }

    .hirearrbox2 {
        padding: 20px 50px 20px 60px;
    }

    .hirearrbox3 {
        padding: 20px 20px 20px 50px;
    }

    .description-colwrap .description-col {
        max-width: calc(50% - 5px);
        flex: 0 0 calc(50% - 5px);
    }

    .description-colwrap {
        margin-bottom: 16px;
    }

    .lookfor__box p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .lookfor__box p:after {
        top: 3px;
    }

    .lookfor__box {
        min-height: 300px;
    }

    .lookfor {
        height: auto;
        min-height: 650px;
    }

    .includesbox .description p,
    .includesbox .description ul {
        max-width: 100%;
    }

    .includes-linesect:after {
        width: 200px;
    }

    .includes-bgbird {
        max-width: 200px;
    }

    .ourclients-wb .description ul li {
        margin-bottom: 10px;
    }

    .teamslove__header h2 span {
        margin: 0;
    }

    .teamslove .bird {
        max-width: 200px;
        top: calc(100% - 100px);
        left: 40px;
    }

    .rdysect2 .description h2 {
        font-size: 32px;
    }






    .lookfor h2 {
        margin-bottom: 28px;
    }

    .teamslove__header h2,
    .rdysect2 .description p {
        margin-bottom: 16px;
    }

    .hirearrbox1 p,
    .hirearrbox2 p,
    .hirearrbox3 p,
    .description-colwrap .description-col p,
    .infosection4 .wraptext p,
    .includes-bottomsect__textblock p,
    .rdysect2 .description p {
        font-size: 16px;
    }
}

@media(max-width:991.8px) {

    .hirearrbox1,
    .hirearrbox2,
    .hirearrbox3 {
        background: none;
        margin: 0;
        width: 100%;
        max-width: 33.333%;
        flex: 0 0 33.333%;
        padding: 30px 20px;
        text-align: center;
    }

    .hirearrbox1 {
        background: #E2F0F9;
    }

    .hirearrbox2 {
        background: #C7E3F8;
    }

    .hirearrbox3 {
        background: #0E4271;
    }

    .infosection4 .colimg {
        display: none;
    }

    .description-colwrap .description-col {
        max-width: calc(50% - 10px);
        flex: 0 0 calc(50% - 10px);
    }

    .lookfor__box {
        padding: 30px;

        &:nth-child(1) {
            img {
                object-position: 100% 0;
            }
        }

        &:nth-child(2) {
            img {
                object-position: 0 0;
            }
        }
    }

    .includes-section {
        padding-top: 80px;
    }

    .includes-bgbird {
        max-width: 160px;
    }

    .includes-bottomsect__textblock {
        padding: 25px;
        min-height: 160px;
    }

    .ourclients-wb {
        padding-top: 80px;
        position: relative;
    }

    .ourclients-wb .description {
        position: relative;
        z-index: 2;
    }

    .ourclients-wb .bg-mainblue {
        position: initial;
    }

    .teamslove-slide .imgwrap img {
        width: 100%;
    }

    .teamslove-slide .imgwrap {
        height: 190px;
    }

    .teamslove-slide .descr p,
    .teamslove-slide .leftinfo p {
        font-size: 16px;
    }

    .reqapply .lineappl {
        display: none;
    }

    .reqapply__itemwrap {
        margin-top: 0 !important;
        width: 100% !important;
        max-width: 50% !important;
        flex: 0 0 50% !important;
        margin-bottom: 20px;
    }

    .reqapply .section-header {
        margin-bottom: 28px;
    }

    .reqapply__item .iconwrap {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;

        img {
            width: 50px;
        }
    }













    .description-colwrap,
    .infosection4 h2 {
        margin-bottom: 28px;
    }

    .lookfor__box h4 {
        margin-bottom: 16px;
    }

    .teamslove-slide .leftinfo p.name {
        font-size: 21px;
    }

    .hirearrsect,
    .hirearrsect,
    .iconboxes-sect,
    .infosection4,
    .reqapply,
    .teamslove,
    .lookfor {
        padding: 80px 0;
    }
}

@media(max-width:767.8px) {

    .hirearrbox1,
    .hirearrbox2,
    .hirearrbox3 {
        max-width: 100%;
        flex: 0 0 100%;
        height: auto;
        min-height: 100px;
        padding: 15px;
    }

    .lookfor__box {
        padding: 20px;
    }

    .lookfor__box p {
        font-size: 14px;
        margin-bottom: 5px;

        b {
            margin-top: 5px;
        }
    }

    .lookfor {
        min-height: inherit;
    }

    .includes-linesect {
        .description {
            margin-bottom: 20px;
        }
    }

    .includes-linesect .row:nth-child(even) {
        .col-xl-5 {
            order: 2;
        }

        .col-xl-4 {
            order: 1;
        }
    }

    .ourclients-wb__bgpic {
        display: none;
    }

    .ourclients-wb .bg-mainblue {
        padding-left: 40px;
    }

    .ourclients-wb .bg-mainblue:after {
        display: none;
    }

    .iconboxes-sect__item {
        min-height: 140px;
    }

    .teamslove__header {
        margin-bottom: 20px;
    }

    .bottomslider-nav {
        margin-top: 20px;
    }

    .teamslove .bird {
        left: 20px;
        width: 150px;
    }

    .rdysect2 {
        .col-md-6 {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }
    }

    .rdysect2 .description {
        margin-bottom: 20px;
        height: auto;
    }







    .includes-section h3 br {
        display: none;
    }

    .lookfor__box p {
        font-size: 16px;
    }

}

@media(max-width:575.8px) {

    .lookfor__box {
        max-width: 100%;
        flex: 0 0 100%;
        height: auto;
        min-height: initial;
        padding: 20px 20px 40px 20px;
    }

    .includes-section {
        padding: 60px 0 0 0;
    }

    .includes-linesect {
        padding: 30px 0;
    }

    .includes-linesect:after {
        width: 100px;
    }

    .includesbox {
        margin-bottom: 40px;
    }

    .includes-bottomsect__textblock {
        padding: 20px;
        min-height: 120px;
    }

    .ourclients-wb {
        padding-top: 60px;
    }

    .ourclients-wb .description {
        padding: 60px 0;
    }

    .teamslove-slide .imgwrap {
        height: 160px;
    }

    .teamslove-slide .leftinfo p.name {
        font-size: 18px;
    }

    .teamslove-slide {
        padding: 20px 0px 20px 10px;
    }

    .teamslove-slide:after {
        width: 150px;
    }

    .teamslove-slide .leftinfo {
        max-width: 100%;
        flex: 0 0 100%;
        padding-bottom: 10px;
    }

    .teamslove-slide .imgwrap {
        max-width: 150px;
        flex: 0 0 150px;
    }

    .teamslove-slide .descr {
        max-width: calc(100% - 150px);
        flex: 0 0 calc(100% - 150px);
    }

    .teamslove-slide:after {
        width: 60%;
    }

    .teamslove .bird {
        width: 100px;
        left: 10px;
        top: calc(100% - 40px);
    }

    .reqapply__itemwrap {
        max-width: 100% !important;
        flex: 0 0 100% !important;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .reqapply__item {
        max-width: 100%;
        display: flex;
        align-items: center;

        .iconwrap {
            max-width: 80px;
            flex: 0 0 80px;
            margin-bottom: 0;
        }

        p {
            max-width: calc(100% - 80px);
            flex: 0 0 calc(100% - 80px);
            padding-left: 10px;
        }
    }

    .rdysect2 .description {
        padding: 20px 30px;
    }

    body section {
        &:last-child {
            padding-bottom: 60px;
        }
    }









    .reqapply__item p {
        font-size: 16px;
    }

    .hirearrsect h3,
    .infosection4 h2,
    .ourclients-wb .description ul li,
    .section-header,
    .iconboxes-sect__item,
    .rdysect2 .description {
        margin-bottom: 16px;
    }

    .hirearrsect,
    .hirearrsect,
    .iconboxes-sect,
    .infosection4,
    .lookfor,
    .reqapply,
    .teamslove {
        padding: 60px 0;
    }

}